<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123491932680-1jao241trhnjsrvuevatehgn5e7he8e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123491932680-1jao241trhnjsrvuevatehgn5e7he8e9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123491932680-jth6ft5bqqjr5bg2lrsvp0kjshbe6jp3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDo4ykIvVLnwwjQBGWIZgk7T5xKR6Kixmo</string>
	<key>GCM_SENDER_ID</key>
	<string>123491932680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sameer6.uplift-app</string>
	<key>PROJECT_ID</key>
	<string>uplift-app-34d41</string>
	<key>STORAGE_BUCKET</key>
	<string>uplift-app-34d41.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123491932680:ios:8ecfa54096db7bbe730fbd</string>
</dict>
</plist>